.contact{
    border: solid 2px gray;
    height: 10vh;
}

.contact img{
    height: 8vh;
}

#contactListContainer{
    overflow: scroll;
    border: solid 2px gray;
}

#btnParler {
    background: url('/static/bootstrap-icons-1.2.2/mic-fill.svg');
    background-repeat: no-repeat;
    background-position: center;
}